{% extends "base.html" %}

{% block analytics %}
{% endblock %}

{% block content %}

<div class="detail-wrapper">
  {{ super() }}
</div>
{% endblock %}


{% block footer %}
{{ super() }}
<script>
  const h1 = document.querySelector('h1');
  if (h1 !== null && h1.innerText.trim().toLowerCase()!== 'onegini identity cloud') {
    const rt = document.createElement('div');
    rt.classList.add('reading-time');
    rt.innerHTML = `<span class="reading-time__label"></span>
  <span class="reading-time__duration"></span>
  <span class="reading-time__word-count"></span>`;
    h1.parentNode.insertBefore(rt, h1.nextSibling);

    document.addEventListener('DOMContentLoaded', (event) => {
      new ReadingTime(270, 'Reading time:', 'min', 'words', 'Less than a minute');
    });
  }
</script>
{% endblock %}
