@import 'https://fonts.googleapis.com/css?family=Montserrat:700&display=swap';

:root {

  /* Primary color shades */
  --md-primary-fg-color: #EB4D00;
  --md-primary-fg-color--light: #EB4D0000;
  --md-primary-fg-color--dark: #EB4D00;
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-text-link-color: #EB4D00;

  /* Accent color shades */
  --md-accent-fg-color: #EB4D00;
  --md-accent-fg-color--transparent: #EB4D0025;
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

:root > * {

  /* Code block color shades */
  --md-code-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-fg-color: hsla(200, 18%, 26%, 1);

  /* Footer */
  --md-footer-bg-color: #000000;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

body, input {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, button {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.md-typeset h1 {
  font-weight: 700;
  color: #000000;
}

.md-typeset h2, .md-typeset h3 {
  font-weight: bold;
  color: #000000;
}

.md-typeset h4, .md-typeset h5, .md-typeset h6 {
  color: #EB4D00;
}

.md-typeset table:not([class]) th {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #EB4D00;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
  width: 150px;
  height: auto;
}
